<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConfigDBConnString"
			 connectionString="server=VA_106550;Initial Catalog=CSTPS_Config;User ID=sa;Password=va2025;MultipleActiveResultSets=true;TrustServerCertificate=True" />
	</connectionStrings>
    <appSettings>
		<add key="AdminUser" value="admin" />
		<add key="AdminPass" value="admin" />
	</appSettings>
</configuration>

<!--="server=BSR106518;Initial Catalog=EMS_Config;User ID=sa;Password=va2026;MultipleActiveResultSets=true;TrustServerCertificate=True"-->